header{
    background-color: #40c1e1;
    color: #f8fafc;
    text-align: center;
    padding: 10px;
    margin : 20px;
    border-radius: 10px;
    background-size: cover;
}
#logo{
  width: 600px;
  border-radius: 300px;
  border: rgba(74, 107, 47, 0.753) solid 3px;
}

body{
    background-color: #f8fafc;
    color: #000000;
    font-family: Arial, sans-serif;
    text-align : center;
    margin-left: 44px;
}

* {
  box-sizing: border-box;
}



.container {
  max-width: 2400px;
  margin: auto;
  display: flex;
  font-size: large;
  padding: 10px;
  flex-wrap: wrap; 
  justify-content: space-between;
}


.destinations{
  flex: 0 0 47%;
  color: black;
  border: #000000;
  border-style:solid;
  color: black;
  margin-bottom: 100px;
  margin-left: 1%;
}


.destination_image {
  width: 100%;   
  height: auto;
  display: block;
}

.title{
  font-size: x-large;
  padding: 3%;
  background-size: cover;
  background-position: center;
}


#poland{
  background-image: url(../imgs/poland_flag.jpg);
}
#canada{
  background-image: url(../imgs/canada_flag.jpg);
}
#china{
  background-image: url(../imgs/china_flag.jpg);
}
#czechRepublic{
  background-image: url(../imgs/cz_flag.jpg);
}
#england{
  background-image: url(../imgs/england_flag.png);
  background-position: top;
}
#hungaria{
  background-image: url(../imgs/hungaria_flag.jpg);
  background-position: top;
}



.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #333;
    color: white;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.bottom{
  color: white;
  margin-top: 40vh;
  border: #40c1e1 solid 2px;
  
}

#secondBottom{
  color: white;
  border-bottom: #40c1e1 solid 2px;
  border-right: #40c1e1 solid 2px;
}
  
.sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    margin-left: 40px;

    
}
  
.sidebar a:hover {
    background-color: #057943;
}
  
.open-btn {
    font-size: 24px;
    cursor: pointer;
    height: 100vh;
    background-color: #40c1e1;
    color: white;
    padding: 10px 15px;
    border: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}
  
.sidebar.active {
    left: 0;
}
  
.main {
    margin-left: 0;
    transition: margin-left 0.3s;
    padding: 20px;
}
  
.main.shift {
    margin-left: 250px;
}
div{
    margin:20px;
    padding: 10px;
    text-align: center;
    font-size: large;
    background-color: #b7e7f3;
    border-radius: 10px;
}

.game {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: flex-start;
}

.characteristics {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.countries {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  border: 2px solid #ccc;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
  z-index: 1;
}

.item.selected {
  background-color: #cceeff;
  border-color: #3399cc;
}

.item.matched {
  border-color: green;
}

.game-container {
  position: relative;
}

.connections-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}