header{
    color: #255531;
    text-align: center;
    padding: 10px;
    margin : 20px;
    border-radius: 10px;
    background-size: cover;
}
footer{
  background-color: #40c1e1;
  padding: 2px;
  margin: auto;
  border-radius: 15px;
}
#CanadaHeader{
    background-image: url(../imgs/canada_flag.jpg);
    background-position: center;
    background-size: cover;
    font-size: 1.7em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#PolandHeader{
    background-image: url(../imgs/poland_flag.jpg);
    background-position: center;
    background-size: cover;
    font-size: 1.7em;
    text-shadow: #8b5353 2px 2px 4px;
    color : #d0d1d2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#CzechRepublicHeader{
    background-image: url(../imgs/cz_flag.jpg);
    background-position: center;
    background-size: cover;
    font-size: 1.7em;
    text-shadow : #002677 2px 2px 6px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#IndiaHeader{
    background-image: url(../imgs/india_flag.jpg);
    background-position: center;
    background-size: cover;
    font-size: 1.7em;
    text-shadow: #538b53 2px 2px 4px;
    color : #f6b33f;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#ChinaHeader{
    background-image: url(../imgs/china_flag.jpg);
    background-position: center;
    background-size: cover;
    font-size: 1.7em;
    color : #f6b33f;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#HungaryHeader{
    background-image: url(../imgs/hungaria_flag.jpg);
    background-position: center;
    background-size: cover;
    font-size: 1.7em;
    text-shadow: #086a39 2px 2px 4px;
    color : #cd1e1e;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#SouthAfricaHeader{
    background-image: url(../imgs/southAfrica_flag.png);
    background-position: center;
    background-size: cover;
    font-size: 1.7em;
    text-shadow: #ffffff 2px 2px 4px;
    color : #d83434;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#EnglandHeader{
    background-image: url(../imgs/england_flag.png);
    background-position: center;
    background-size: cover;
    font-size: 1.7em;
    text-shadow: #fcfcfc 2px 2px 4px;
    color : #1d4e97;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#MalaisiaHeader{
    background-image: url(../imgs/malaisia_flag.png);
    background-position: center;
    background-size: cover;
    font-size: 1.7em;
    text-shadow: #8b5353 2px 2px 4px;
    color : #f6b33f;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#USAHeader{
    background-image: url(../imgs/usa_flag.png);
    background-position: center;
    background-size: cover;
    font-size: 1.7em;
    text-shadow: #7e9ded 2px 2px 4px;
    color : #050d18df;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.headerQuizz{
    background-position: center;
    background-size: cover;
    font-size: 1.7em;
    text-shadow : #000000 2px 2px 4px;
    color : #7e9e75;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#logo{
  max-width: 600px;
  width: 400px;
  border-radius: 300px;
  border: rgba(74, 107, 47, 0.753) solid 3px;
}
h2{
    font-size: 1.7em;
    margin: 0;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: #40c1e1;
    color: #000000;
    font-family: Arial, sans-serif;
    text-align : center;
    margin-left: 44px;
    min-height: 100vh;
}
section{
    margin: 20px;
    padding: 10px;
    text-align: center;
    font-size: large;
    background-color: #d2e6f0;
    border-radius: 10px;
}
fieldset{
    margin: 20px;
    padding: 10px;
    text-align: center;
    font-size: large;
    background-color: #7e9e75;
    color : white;
    border-radius: 10px;
}
#connect {
    margin: 20px;
    padding: 10px;
    text-align: center;
    border : 2px solid #40c1e1;
    color : #7e9e75;
    border-radius: 10px;

}
#quizzTitle{
    margin: 20px;
    padding: 10px;
    text-align: center;
    border : 2px solid #40c1e1;
    color : #7e9e75;
    border-radius: 10px;
}
* {
  box-sizing: border-box;
}



.container {
  max-width: 2400px;
  margin: auto;
  display: flex;
  font-size: large;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}


.destinations{
  flex: 0 0 30%;
  color: black;
  border: #000000;
  border-style:solid;
  color: black;
  margin-bottom: 100px;
  margin-left: 1%;
}


.destination_image {
  width: 100%;   
  height: auto;
  display: block;
}

.title{
  font-size: x-large;
  padding: 3%;
  background-size: cover;
  background-position: center;
}

.mainImage{
  max-width: 1000px;
  width: 1000px;
  max-height: 500px;
}

#poland{
  background-image: url(../imgs/poland_flag.jpg);
}
#canada{
  background-image: url(../imgs/canada_flag.jpg);
}
#china{
  background-image: url(../imgs/china_flag.jpg);
}
#czechRepublic{
  background-image: url(../imgs/cz_flag.jpg);
}
#england{
  background-image: url(../imgs/england_flag.png);
  background-position: top;
}
#hungaria{
  background-image: url(../imgs/hungaria_flag.jpg);
  background-position: top;
}
#india{
  background-image: url(../imgs/india_flag.jpg);
}
#malaisia{
  background-image: url(../imgs/malaisia_flag.png);
  background-position: top;
}
#southAfrica{
  background-image: url(../imgs/southAfrica_flag.png);
}
#usa{
  background-image: url(../imgs/usa_flag.png);
}


.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #333;
    color: white;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.bottom{
  color: white;
  margin-top: 40vh;
  border: #40c1e1 solid 2px;
  
}

#secondBottom{
  color: white;
  border-bottom: #40c1e1 solid 2px;
  border-right: #40c1e1 solid 2px;
}
  
.sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    margin-left: 40px;

    
}
  
.sidebar a:hover {
    background-color: #057943;
}
  
.open-btn {
    font-size: 24px;
    cursor: pointer;
    height: 100vh;
    background-color: #40c1e1;
    color: white;
    padding: 10px 15px;
    border: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}
  
.sidebar.active {
    left: 0;
}
  
.main {
    margin-left: 0;
    transition: margin-left 0.3s;
    padding: 20px;
    flex: 1;
}
  
.main.shift {
    margin-left: 250px;
}
div{
    margin:20px;
    padding: 10px;
    text-align: center;
    font-size: large;
    background-color: #b7e7f3;
    border-radius: 10px;
}

.game {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: flex-start;
}

.characteristics {
  display: flex;
  flex-direction: column;
  gap: 20px;

}


.countries {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  border: 2px solid #ccc;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
  z-index: 1;
}

.item.selected {
  background-color: #cceeff;
  border-color: #3399cc;
}

.item.matched {
  border-color: green;
}

.game-container {
  position: relative;
}

.connections-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

#quizzScore, #retry{
  display: none;
}

.table-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  min-width: 400px;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px 16px;
  text-align: center;
}

th {
  background-color: #40c1e1;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
